body {
  margin: 0;
}

.app {
  background-color: #111111;
  color: #fff;
  width: 100vw;
  height: 100vh;
}
.admin__title {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.admin__filter {
  margin-left: 2.5%;
  margin-top: 50px;
  width: 95%;
  display: flex;
  justify-content: center;
  background-color: #191919;
  height: 50px;
  border-radius: 10px;
}
.admin__content {
  display: flex;
  justify-content: center;
}
.admin__nav {
  width: 15%;
  background-color: #191919;
  margin-top: 10px;
  margin-right: 5px;
  height: 500px;
  border-radius: 10px;
}
.admin__main {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #191919;
  margin-top: 10px;
  border-radius: 10px;
}
.admin__nav-item {
  margin-left: 20%;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.admin__main {
  padding: 20px;
}
table, th, td {
  border:1px solid #fff;
  height: 50px;
  width: 100px;
}
