body {
	margin: 0;
}

.web__app {
	color: #fff;
	background-color: #191919;
	width: 100vw;
	height: 100vh;
}

.web__main {
	display: flex;
	justify-content: center;
}

.web__header {
	display: flex;
	justify-content: center;
	height: 50px;
	background-color: #111111;
}
.web__nav{
	width: 20%;
	background-color: #111111;
	height: 90vh;
	margin: 10px;
}
.web__content {
	width: 70%;
	background-color: #111111;
	height: 90vh;
	margin: 10px;
}